/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/** NavBar Display*/
.navbar-mobile{
    display: none;
}

.navbar-desktop .navbar-list li:not(:last-child):after{
    content: '';
    padding-left: 5rem;
    border-right: 1px solid rgba(249, 250, 251);
}
.navbar-desktop .navbar-list li:last-child:after{
    content: '';
    padding-left: 5rem;
}

.main-banner{
    background: url('../src/assets/img/bg.jpg') no-repeat center center;
    background-size: cover;
}
.main-title{
    font-family: 'Permanent Marker', cursive;
}
.sub-title{
    font-family: 'Permanent Marker', cursive;
}

@media screen  and (max-width: 1024px) {
    .navbar-mobile{
        display: block;
    }
    .navbar-mobile .css-hip9hq-MuiPaper-root-MuiAppBar-root{
        background-color: #5CAFBB;
    }
    .navbar-desktop{
        display: none;
    }
}
 